body {
    background-color:black;
    font-family:arial;
    color:white;
    align-items: center;
}
h1 {
    color:grey;
    font-family:verdana
}
.maindiv {
    background-color:white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    text-align:center;
}
.seconddiv {
    width: 300px;
    margin: 0 auto;
    text-align:left;
}
.footerdiv {
    width: 300px;
    margin: 0px;
    text-align:left; 
}
.hihglight{
    background-color: yellow;
}

